._local {
      :global {
            .empty_wrap {
                  padding: 120px 0;
            }

            .ReactVirtualized__List {
                  outline: none;
                  overflow: visible !important;

                  .ReactVirtualized__Grid__innerScrollContainer {
                        overflow: visible !important;
                  }
            }

            .loading_more {
                  .loading {
                        color: var(--primary-color);
                  }
            }
      }
}

@keyframes show {
      from {
            transform: scaleY(0);
      }

      to {
            transform: scaleY(1);
      }
}

.qa_item {
      box-shadow: var(--light_box_shadow_card);
      border-radius: var(--radius_normal);
      background-color: white;
      margin-bottom: 16px;
      overflow: hidden;

      @media screen and (max-width:420px) {
            box-shadow: none;
      }

      :global {
            .icon_wrap {
                  width: 30px;
                  height: 30px;
                  border-radius: var(--radius_normal);
                  margin-right: -10px;

                  &:hover {
                        background-color: var(--light_bg_hover);
                  }
            }

            .question {
                  .q_item {
                        padding: 16px 20px;
                  }

                  .q_head {
                        padding: 10px 20px;
                        border-bottom: var(--border_divide);
                  }

                  .q_foot {
                        padding-top: 0;
                        padding-bottom: 10px;

                  }
            }
      }

      .answer {
            .content {
                  transform-origin: top;
                  animation: show 0.3s ease;
                  padding: 16px 20px;
                  border-top: var(--border_divide);
                  overflow-y: scroll;
            }

            :global {
                  .a_foot {
                        padding: 16px 20px;
                        border-top: var(--border_divide);

                        .ant-rate {
                              color: var(--primary-color);
                        }
                  }
            }
      }
}