// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@import '../preset/helpers/colorPalette.less';

//antd variables
@primary-color: #f44336;
@border-radius-base: 6px;
@border-radius-sm: 6px;
@font-size-base: 13px;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@hover-color: #eee;

//custom variables
@secondary-color: #cb2013;
@color_background: @body-background;
@color_border_light: #eeeeee;
@color_unimportant_1: #aaa;
@color_unimportant_2: #ddd;
@color_danger: #F44336;
@radius_normal: 6px;
@box_shadow_section: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
@box_shadow_unit: 0px 0px 30px #ddd;

//light theme variables
@text-color: #000;
@body-background: #f8f9fa;
@component-background: #ffffff;
@border-color-base: #f5f5f5;
@border-color-split: #f5f5f5;

//dark theme varialbles
// @text-color: #ffffff;
// @disabled-color: #333333;
// @item-hover-bg: #333333;
// @component-background: #202124;
// @background-color-light: #333333;
// @background-color-base: #333333;
// @text-color-secondary: #333333;
// @body-background: #202124;
// @border-color-base: #292929;
// @border-color-split: #292929;

//global variables
:root {
      --hover-color: @hover-color;
      --primary-color: @primary-color;
      --secondary-color: @secondary-color;

      --color_background: @color_background;
      --color_unimportant_2: @color_unimportant_2;
      --radius_normal: @radius_normal;

      --light_box_shadow_card: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1.5px -2px rgba(0, 0, 0, 0.1);
      --light_bg_hover: rgba(0, 0, 0, 0.22);

      //dark_mode
      --dark_color_block: #292a2d;
}